name: pr checks

on:
    pull_request:
        types: [opened, reopened, edited, synchronize]
        branches:
            - master

jobs:
    neat:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: pnpm/action-setup@v4
              with:
                  version: 10
            - uses: actions/setup-node@v3
              with:
                  node-version: 22.14.0
            - run: pnpm i --frozen-lockfile
            - run: pnpm lint
            - run: pnpm pretty:check
            - run: pnpm test
